head{
    color: white; background-color: blue;
}
.container{
    background-color: gray; color: red;
}
.highlight{
    color: green;
}

.main-content{
    background-color: yellow;
}

#id1{
    text-align: center;
}

.h1-h6{
    text-decoration: underline dashed;
}