#id3{
    color: white; background-color: blue;
}
.container{
    background-color: gray; color: red;
}
.highlight{
    color: green;
}

.main-content{
    background-color: yellow;
}

#id1{
    text-align: center;
}

.h1-h6{
    text-decoration: underline dashed;
}

.bold-text{
    font-weight: bold;
}


#intro{
    font-weight: 300;
}

.font-family{
    font-family: Arial,sans-serif;
}

.custom-font{ 
    font-family: 'Times New Roman', Times, serif;
}

#header{
    text-transform: uppercase;
}

.capitalize-text{
    text-transform: capitalize;
}

a{
    text-decoration: none;
}